<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.mapper.dp.co.DpCoMapper">

	<!-- updateTitles -->
   <update id="updateTitles" parameterType="Hashmap">
      UPDATE titles
		SET
		
		<if test="title != null and title != ''">		
			title = #{title},
		</if>
		
		<if test="fromDate != null and fromDate != ''">
			from_date = #{fromDate},
		</if>
		
		<if test="toDate != null and toDate != ''">
			to_date = #{toDate},
		</if>	
		
		emp_no = #{empNo}
				
		WHERE emp_no = #{empNo}
   </update>

	<!-- updateEmployees -->
   <update id="updateEmployees" parameterType="Hashmap">
      UPDATE employees
		SET
		
		<if test="birthDate != null and birthDate != ''">		
			birth_date = #{birthDate},
		</if>
		
		<if test="firstName != null and firstName != ''">
			first_name = #{firstName},
		</if>
		
		<if test="lastName != null and lastName != ''">
			last_name = #{lastName},
		</if>
		
		<if test="gender != null and gender != ''">
			gender = #{gender},
		</if>
		
		emp_no = #{empNo}
				
		WHERE emp_no = #{empNo}
   </update>
   
   <!-- retrieveDeptList : 전체 부서 조회 -->
   <select id="retrieveDeptList" parameterType="Hashmap" resultType="java.util.HashMap">
      SELECT * FROM departments
   </select>
   
   <!-- retrieveUserLoginInfo : 사용자 로그인 조회 -->
   <select id="retrieveUserLoginInfo" parameterType="Hashmap" resultType="java.util.HashMap">
      SELECT * FROM users
      WHERE
      	id = #{userId}
      limit 1
   </select>   
   
</mapper>